

$board-size:300px;
$square-color:#53917e;
$background-color:#b1b695;

#viewport{
	//background:$background-color;
  width: $board-size;
  height: $board-size;

}
.square{
  width: $board-size *0.3;
  height: $board-size * 0.3;
  background:$square-color;
  float: left;
  box-sizing:border-box;
  margin:  0 0 2.5% 2.5%;
  font-size: 85px;
  line-height: $board-size * 0.3;
  color: red;
}

#btn{
	visibility:hidden;
}


