#viewport {
  background: #b1b695;
  width: 500px;
  height: 500px; }

.square {
  width: 150px;
  height: 150px;
  background: #53917e;
  float: left;
  box-sizing: border-box;
  margin: 0 0 2.5% 2.5%;
  font-size: 45px;
  line-height: 150px;
  color: red; }
